<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">You thought only Facebook has timeline?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2017</h4>
                                    <h4 class="subheading">The Beginning</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We started it all from our second home. We did some projects for our own university.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2017</h4>
                                    <h4 class="subheading">Won the Smart India Hackathon</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We participated and won India's National Level 36hrs Hackathon Event.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2017</h4>
                                    <h4 class="subheading">Launched Inherit I/O</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We launched this website so that our clients and new users can easily reach us.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 2017</h4>
                                    <h4 class="subheading"><a href="http://northeastcreatives.com">Northeast Creatives</a> Launch 🚀 </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A community for the Northeast India that enables young talent to learn together and collaborate.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2017</h4>
                                    <h4 class="subheading">Started The Drone Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are working on a drone project to solve problems of a specific domain.<p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4>December 2017</h4>
                                <h4 class="subheading">Pre-launch of our new Tech project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Stay tuned for updates.</p>
                            </div>
                          </div>
                      </li>

                      <li class="timeline-inverted">
                        <div class="timeline-image">
                          <h4>Be Part
                            <br>Of Our
                            <br>Story!
                          </h4>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
